.cover img{ 
    background-size: cover;
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;     
}
html{
    min-height: 100%;
    position: relative;
}

footer{
    background-color: rgba(34, 33, 95, 0.733);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40;
    color: white;
}

.transparente {
    background: rgba(25, 25, 65, 0.356);
}

.logo {
    height: 50px;
    margin: -10px -10px -10px -10px;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    margin-bottom: 40px;
}

.form-search{
    background-color: blanchedalmond;
}

.searchContainer{
    align-content: center;

}
/*search box css start here*/
.search-sec{
    padding: 1rem;
}
.search-slt{
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: rgba(26, 70, 104, 0.555);
    }
}

.card col{
    padding-left: 0%;
    
}

.card table{
    font-size: 12px;
}



