<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InmobiliariaTH</title>
    {% load staticfiles %}
    <!-- {% block css %}
    
    {% endblock %} -->

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark transparente scrolling-navbar fixed-top">
        <a class="navbar-brand" href="/"><img src="{% static '/core/img/logo/logo.png' %}" alt="logo" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Proyectos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Casa</a>
                        <a class="dropdown-item" href="#">Departamento</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Corredor</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_inmuebles' %}">Lista inmuebles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nuevoFormulario' %}">Nuevo inmuebles</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
                    </div>
                </div>
                {% else %}
                <li>
                    <a class=" btn btn-success" href="{% url 'login' %}">Iniciar sesion</a>
                </li>
                <li>
                    <a class="btn btn-primary" href="{% url 'registrar' %}">Registrar </a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="cover">
        <img src='https://http2.mlstatic.com/resources/deals/exhibitors_resources/mlc-search-header-background-url-39bb64d0-89dc-49f8-bb5d-de0212ee3043.png'
            alt="imgPortal">
    </div>

    <div class="contenido">
        {% block contenido %}



        {% endblock contenido %}
    </div>
    <br>
    <br>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> InmobiliariaTH</a>
        </div>
    </footer>
    <!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>