{% extends "core/base.html" %}

{% load static %}

{% block contenido %}


<!-- <section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">


                                <option value="">Tipo</option>
                                {% for t in tipo %}

                                <option value="{{ t.id }}">{{ t.tipo }}</option>

                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="categoriaRegion" name="categoriaRegion">

                                <option value="">Region</option>
                                {% for r in region %}

                                <option value="{{ r.id }}">{{ r.nombre }}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">


                                <option value="">Comuna</option>
                                {% for c in comuna %}

                                <option value="{{ c.id }}">{{ c.nombre }}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-text col-lg-1 col-md-1 col-sm-12 p-0">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <label for="">Nuevo</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <button type="button" class="boton btn-primary ">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12 search">
            <br>
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." id="formulario">
                        <br>
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success" id="boton">Buscar</button>

                        </span>

                    </div>

                </div>

            </form>

        </div>
    </div>

</div>
<br>

<div class="container resultado">
    <div class="row">
        {% for i in inmuebles %}
        <div class="card col-md-3">

            {% if i.imagen %}
            <a href="#">
                <img class="card-img-top" src="{{ i.imagen.url}}" height="200px" alt="Card image cap">
            </a>
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">$ {{ i.precio }} pesos</h4>
                <p class="card-text">{{ i.descripcion }}</p>
                <table>
                    <tr>
                        <th>Comuna</th>
                    </tr>
                    <TR>
                        <th id="resultado">{{ i.comuna }}</th>
                    </TR>
                    <tr>
                        <th>Dormitorios</th>
                    </tr>
                    <tr>
                        <th>{{ i.piezas }} </th>
                    </tr>
                    <tr>
                        <th>Baños</th>
                    </tr>
                    <tr>
                        <th>{{ i.banos }} </th>
                    </tr>
                    <tr>
                        <th>Metros</th>
                    </tr>
                    <tr>
                        <th>{{ i.metros }} m2</th>
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br>

<script>
    const inmueble=[
        { inmueble }
    ]
const formulario=document.querySelector('#formulario');
const boton=document.querySelector('#boton');

const filtrar = ()=>{
    // console.log(formulario.value)}
    const text = formulario.value.toLowerCase()
    for(let inmuebles of inmueble){
        let comuna = inmueble.nombre.toLowerCase();
        if (comuna.indexOf(texto) !==-1){

        }
    }

}
boton.addEventListener('click', filtrar)
</script>

{% endblock contenido %}