{% extends "core/base.html" %}

{% load static %}

{% block contenido %}

<h1>Lista Inmuebles</h1>

<table class="table">
  
        <tr>
            <th>PRECIO</th>
            <th>CALLE</th>
            <th>NUMERO</th>
            <th>DPTO</th>
            <th>PIEZAS</th>
            <th>BAÑOS</th>
            <th>METROS 2</th>
            <th>NUEVO</th>
            <th>REGION</th>
            <th>PROVIDENCIA</th>
            <th>COMUNA</th>
            <th>TIPO</th>
            <th>DESCRIPCION</th>
            <th>IMAGEN</th>
            <th>ELIMINAR</th>
            <th>MODIFICAR</th>
        </tr>
    
    {% for i in inmuebles %}
        <tr>
            <th>{{ i.precio }}</th>
            <th>{{ i.calle }}</th>
            <th>{{ i.numero }}</th>
            <th>{{ i.dpto }}</th>
            <th>{{ i.piezas }}</th>
            <th>{{ i.banos }}</th>
            <th>{{ i.metros }}</th>
            <th>{{ i.nuevo }}</th>
            <th>{{ i.region }}</th>
            <th>{{ i.provincia }}</th>
            <th>{{ i.comuna }}</th>
            <th>{{ i.tipo }}</th>
            <th>{{ i.descripcion }}</th>
            <th>
                {% if i.imagen %}
                <img src="{{ i.imagen.url}}" width="80px" height="80px">
                {% endif %}
            </th>
            <th><a href="{% url 'eliminar_inmueble' i.id %}">Eliminar</a>
            <th><a href="{% url 'modificar' i.id %}">Modificar</a>
            </th>
        </tr>   
    {% endfor %}
</table>
    {% if messages %}
        {% for m in messages %}
            <div>{{ m }}</div>
        {% endfor %}
    {% endif %}
{% endblock contenido %}