{% extends "core/base.html" %}

{% load static %}

{% block contenido %}

<h1> Modificar formulario </h1>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>

        {{ form.as_table }}

    </table>

    <input type="reset" value="Limpiar">
    <input type="submit" value="Modificar">

</form>
<br>
<br>
{{ mensaje }}

{% endblock  %}