{% extends "core/base.html" %}

{% load static %}

{% block contenido %}
<div class="container">
    
    <div class="modal-dialog text-center">
        <div class="col-sm-8">
            
                <h1 class="text-center">Login</h1>
            <div class="modal-content">
                <form class="col-12" action="" method="POST">
                    {% csrf_token %}

                    <table>
                        <div class="form-group">

                                {{ form.as_table }}
                        </div>
                    </table>

                    <input type="submit" value="Login">
                </form>
                <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>


{% endblock contenido %}