{% extends "core/base.html" %}

{% load static %}

{% block contenido %}
<div class="container">
<div class="modal-dialog text-center">
        <div class="col-sm-12">
            
              <h1>Registrar</h1>
            <div class="modal-content">
                <form class="col-12" action="" method="POST">
                    {% csrf_token %}

                    <table>
                        <div class="form-group">

                                {{ form.as_table }}
                        </div>
                    </table>

        <input type="reset" value="Limpiar">
        <input type="submit" value="Registrar">
                </form>
            </div>
        </div>
    </div>

</div>
    



{% endblock contenido %}